/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@400;500;700&display=swap');


@theme {
    /* Colores */
    --color-leaf: #8C6239;
    --color-leaf-light: #C6AC8F;
    --color-earth: #5E412F;
    --color-moss: #4E3629;
    --color-blossom: #D4A373;
    --color-cream: #FDFBF7;
    --color-text-dark: #4A3E3D;

    /* Fuentes */
    --font-display: "Libre Baskerville", serif;
    --font-sans: "Open Sans", sans-serif;
}

@layer utilities {
    .bg-leaf {
        @apply bg-leaf;
    }

    .text-leaf {
        @apply text-leaf;
    }

    .font-display {
        @apply font-display;
    }

    .font-sans {
        @apply font-sans;
    }

    .animate-float {
        animation: float 6s ease-in-out infinite;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.hero-bg {
    background-image:
        linear-gradient(rgba(253, 251, 247, 0.75), rgba(253, 251, 247, 0.45)),
        url('/bg-cafeteria.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

@media (min-width: 1024px) {
    .hero-bg {
        background-attachment: fixed;
    }
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Ocultar barra de scroll en sliders horizontales */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Estilos de impresión para ticket térmico */
@media print {
    body * {
        visibility: hidden !important;
    }

    #print-section,
    #print-section * {
        visibility: visible !important;
    }

    #print-section {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        background: white !important;
        display: block !important;
    }
}